/*+  ▃▃▃▃▃▃[INDICE]▃▃▃▃▃▃ */ 
/*+ 1.- Slider background
*/
#chapter4
    .Slider__background{
        background-color: #FF6000;
    }

#chapter4
    .Slider__content{
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
    }

#chapter4
    .Slider__content
        .Content__title{
            font-weight: 300;
            color:var(--chapter4-font-color);
        }
#chapter4
    .Content__storyline{
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 4rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

#chapter4
    .Content__storyline
        .Storyline__node{
            position: relative;
            cursor: pointer;
            width: 5rem;
            height: 5rem;
            transition: all 300ms ease-in-out;
        }

        .Storyline__node:hover{
            transform: scale(1.3);
        }
        .Storyline__node:hover > svg > circle{
            fill: aqua !important;
            transition: all 700ms ease-in-out;
        }

        .Storyline__node:hover > .Node__year{
            font-weight: 500;
        }

        .Storyline__node:hover > .Node__description{
            animation-name: unhidden;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        } 

        .Storyline__node circle{
            position: absolute;
            fill: #FFE6C7;
            transition: all 700ms ease-in-out;
            filter: drop-shadow(0 0 9px rgba(0,0,0,.5));
        }

        .Storyline__node .Node__year{
            position: relative;
            width: 100%;
            text-align: center;
            font-size: 2rem;
            color:var(--chapter3-skill-circle-color);
        }

        .Storyline__node
            .Node__description{
                position: absolute;
                width: var(--chapter4-node-description-width);
                height: auto;
                margin-top: 1rem;

                padding: 0.5rem 1rem 0.5rem 1rem;
                
                transform: translate(-35%, -25%);

                visibility: hidden;
                display: flex;
                flex-direction: column;
                overflow-y: hidden;
                justify-content: left;

                background: rgba(255, 255, 255, 0.1);
                backdrop-filter: blur(30px);
                border: 2px solid rgba(255, 255, 255, 0.1);
                box-shadow: 0 0 80px rgba(0,0,0,.2);
                border-radius: 2rem;

                transition: all 800ms ease-in-out;
            }
            .Node__description h3{
                color:var(--chapter4-font-color-secondary);
                background: none;
                font-size: 1.3rem;
                font-weight: 500;
                text-decoration: underline;
            }

            .Node__description p{
                background: none;
                margin-top: 1rem;
                margin-bottom: 1rem;
                color: #FFE6C7;
                font-weight: 500;
            }