@import url('../vars/vars.css');
@import url('../animations.css');

/*+  ▃▃▃▃▃▃[INDICE]▃▃▃▃▃▃ */ 
/*  
/*+ 1.- Slider
/*+ 2.- Slider backgroound
/*+ 3.- Slider__content
/*+ 4.- Content__title
/*+ 5.- Content__button
/*+ 6.- Content__leyend
*/

/* .Slider_container{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none; 
} */

/** Representa la diapositiva (1 hoja)*/
.Slider{
    scroll-snap-align: start;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.Slider__background{
    position: absolute;
    width: 100%;
    height: 100%;
}

/** Contenido de diapositiva */
.Slider__content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    z-index: 2;
}

/** Titulo principal del Slide */
.Slider__content 
    .Content__title{
        font-size: 7rem;
    }


/** Boton para cambiar pagina */
.Slider__content 
    .Content__button{
        width: auto;
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        padding: .5rem 1rem;
        border-radius: 10rem;
        text-decoration: none;
        text-transform: capitalize;
        color: var(--black-color-primary);
        background-color: var(--white-color-primary);
        transition: all 500ms ease-in-out;
        margin-top: 1rem;
    }

.Slider__content
    .Content__leyend{
        font-size: 1.77rem; 
        margin-top: 2rem;
    }