@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root{
    --imagesize__width:10rem;
    --imagesize__height:10rem;
    --imageborder: 0.4rem;
    --font-size-base:10px;
    --font-weight-base:300;
    --font-family-base:'Quicksand';

    --black-color-primary:#131313;
    --white-color-primary:rgb(198, 195, 195);
    --gray-color-primary:rgb(103 108 112);

    --black-color-secondary:#1d1c1c;

    --chapter2-left-backlog-color:#3C486B;
    --chapter2-right-backlog-color:#F45050;
    --font-family-netwoks: 'Quicksand', sans-serif;
    --networks-container-width:40rem;
    --networks-container-height:27rem;
}