@import url('../vars/vars.css');

*{
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    margin-top: 0;
    margin-left: 0;
    color: #ffffff;
    font-size: var(--font-size-base);
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-base);
    box-sizing: border-box;
    background-color: inherit;
}

html{
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    scroll-snap-align: start;
}

body{
    overflow: hidden;
    scrollbar-width: none;
    background-color: rgb(217, 210, 210);
}

body::-webkit-scrollbar{
    display: none;
} 

/* Estilo para el efecto de overscroll */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--cviewer-background-color);
    pointer-events: none;
    z-index: -1;
  }
  