/* ▇▇▇▇▇▇   BOX WRAPPER ANIMATIONS ▇▇▇▇▇ */
/* 
%       1.- Hover sobre items
%       2.- Animacion sobre imagen
%       3.- Animacion sobre
%       4.- Animacion blinding
%       5.- Animacion redes
%       6.- Animacion skill
*/


/*+ ▃▃▃  1.- Hover sobre items ▃▃▃*/
@keyframes get_big {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.4);
    }
    100%{
        transform: scale(1.3);
    }
}

/*+ ▃▃▃  2.- Animacion sobre imagen ▃▃▃*/
@keyframes image_loading {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

/*+ ▃▃▃  3.- Animacion sobre sub items ▃▃▃*/
@keyframes biting {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/*+ ▃▃▃  4.- Animacion blinding ▃▃▃*/
@keyframes blinding {
    from{
        background-color: var(--white-color-primary);
    }to{
        background-color: rgb(255, 234, 76);
        box-shadow: 0 0 10px white, 0 0 7px rgb(255, 234, 76);
    }
}

/*+ ▃▃▃  5.- Animacion redes ▃▃▃*/
@keyframes hover_icons {
    from{
        transform: rotate(0) scale(1);
    }to{
        transform: rotate(360deg) scale(1.3);
    }
}

/*+ ▃▃▃  6.- Animacion skill ▃▃▃*/
@keyframes load-skill {
    0%{
        stroke: rgb(66, 66, 66);
        stroke-dashoffset: 300;
    }
    100%{
        stroke: rgb(23, 204, 83);
        stroke-dashoffset: calc(300 - ((255*var(--percent))/100));
        filter: drop-shadow(0 0 5px rgb(23, 204, 83));
    }
}