
@import url('default/default.css');
@import url('animations.css');

/*+  ▃▃▃▃▃▃[INDICE]▃▃▃▃▃▃ */ 
/*+ 1.- slices-container
/*+ 2.- slice
/*+ 3.- slice__body
/*+   - body__title 
/*+   - body__button
/*+   - body__leyend
/*+ 4.- chapter 1
/*+ 5.- chapter 2
/*+ 6.- chapter 3
/*+ 7.- player

/*+ 2.- slice */
.slice{
    width: 100vw;
    height: 100vh;
}

/*+ 3.- slice-body  */
.slice__body{
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    /*+ 3.- body__title */ 
    .body__title{
        font-size: 7rem;
    }

    .body__typing{
        overflow: hidden;
        border-right: .10em solid orange; 
        white-space: nowrap; 
        letter-spacing: 1rem;
        margin: 0 auto;
        animation: 
        typing 1s steps(6,end) infinite alternate,
        blink-caret .5s step-end infinite;
    }
    
    /* The typing effect */
    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: orange; }
    }
    
    /*+ 3.- body__button  */
    .body__button{
        width: auto;
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        padding: .5rem 1rem;
        border-radius: 10rem;
        text-decoration: none;
        text-transform: capitalize;
        color: var(--black-color-primary);
        background-color: var(--white-color-primary);
        transition: all 500ms ease-in-out;

        margin-top: 1rem;
    }

    .body__button:hover{
        color: var(--white-color-primary);
        background-color: var(--gray-color-primary);
    }
    
    .blinding{
        animation-name: blinding;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    /*+ 3.- body__leyend */
    .body__leyend{
       font-size: 1.77rem; 
       margin-top: 2rem;
    }


/*+ 4.- chapter 1 */
/*+ 5.- chapter 2 */
/*+ 6.- chapter 3 */
#chapter1{background-color: rgb(25, 25, 25 );}
#chapter2{background-color: rgb(77, 25, 96);}
#chapter3{background-color: rgb(255, 215, 0);}

/*+ 7.- player */
#player{display: none;}
.player{
    position: fixed;
    width: 100%;
    height: 5rem;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    
    top: calc(100% - 4rem);
    background-color: var(--black-color-secondary);
}

.player label > input{display: none;}
.player label{
    cursor: pointer;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.player label i{font-size: 2.5rem; transition: all 500ms ease;}
.player label i:hover{color: aqua;}
.player label > input:checked + i{color: red;}



.player #current_time{
    font-size: 2rem;
    margin-left: 1rem;
}

    /** line time*/
    .line_time{
        position: relative;
        width: 30%;
        height: 1rem;
    }
    .line_time .lapse{
        position: absolute;
        width: 5%;
        height: 100%;
        border-radius: 1rem;
        background-color: white;
    }
    .line_time .base{
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        background-color: var(--gray-color-primary);
    }