
@import url('default/default.css');
@import url('animations.css');

/*+  ▃▃▃▃▃▃[INDICE]▃▃▃▃▃▃ */ 
/*+ 1.- slices-container
/*+ 2.- slice
/*+ 3.- slice__body
/*+   - body__title 
/*+   - body__button
/*+   - body__leyend
/*+ 4.- chapter 1
/*+ 5.- chapter 2
/*+ 6.- chapter 3
/*+ 7.- player

/*+ 2.- slice */
.slice{
    width: 100vw;
    height: 100vh;
}

/*+ 3.- slice-body  */
.slice__body{
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    /*+ 3.- body__title */ 
    .body__title{
        font-size: 7rem;
    }

    .body__typing{
        overflow: hidden;
        border-right: .10em solid orange; 
        white-space: nowrap; 
        letter-spacing: 1rem;
        margin: 0 auto;
        animation: 
        typing 1s steps(6,end) infinite alternate,
        blink-caret .5s step-end infinite;
    }
    
    /* The typing effect */
    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: orange; }
    }
    
    /*+ 3.- body__button  */
    .body__button{
        width: auto;
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        padding: .5rem 1rem;
        border-radius: 10rem;
        text-decoration: none;
        text-transform: capitalize;
        color: var(--black-color-primary);
        background-color: var(--white-color-primary);
        transition: all 500ms ease-in-out;
        margin-top: 1rem;
    }
    
    .blinding{
        animation-name: blinding;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    /*+ 3.- body__leyend */
    .body__leyend{
       font-size: 1.77rem; 
       margin-top: 2rem;
    }


/*+ 4.- chapter 1 */
/*+ 5.- chapter 2 */
/*+ 6.- chapter 3 */
#chapter1{background-color: rgb(25, 25, 25 );}
/* #chapter2{background-color: #032e36;} */
#chapter3{background-color: rgb(255, 215, 0);}



/*+ 5.- chapter 2 */
#chapter2{
    position: relative;
}
#chapter2 .slice__left_backlog, .slice__right_backlog{
    width: 100%;
    height: 100%;
    position: absolute;
}
#chapter2 .slice__left_backlog{
    background-color: var(--chapter2-left-backlog-color);
    clip-path: polygon(0 0, 15% 0, 30% 100%, 0% 100%);
    z-index: 1;
}

#chapter2 .slice__right_backlog{
    background-color:  var(--chapter2-right-backlog-color);
    z-index: 0;
}

#chapter2 .slice__body{
    position: relative;
    z-index: 2;
    background-color: transparent;
}

#chapter2 .body__title{
    border-bottom: 3px solid white;
}
#chapter2 .body__leyend:first-of-type{
    margin-top: 2rem;
    font-weight: 400;
}

#chapter2 .body__networks{
    width: var(--networks-container-width);
    height: var(--networks-container-height);
    position: absolute;
    padding: 1rem 0 0 2rem;
    left: 0px;
    right: 0px;
    z-index: 0;
    top: calc(100% - var(--networks-container-height));
}
.body__networks ul{list-style: none;}
.body__networks li i {
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
    transition: all 500ms ease-in-out;
}
.body__networks li i:hover{
    color: aqua;
    animation: hover_icons 500ms forwards;
}

.body__networks li a{
    font-weight: 500;
    font-size: 1.5rem;
    text-decoration: none;
    border-top: 1px solid white;
    transition: all 500ms ease-in-out;
    font-family: var(--font-family-netwoks);
}

.body__networks li a:hover{color: aqua;}